body {
  background-color: rgb(75, 75, 75);
}

.profilePic {
  width: 35px;
  height: 35px;
}

.logoPic {
  width: 40px;
  height: 40px;
}

.link {
  font-weight: bold;
  color: #ffc107
}

.navbarRight {
  position: absolute;
  right: 40px;
}

.card-image-h {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 150px;
}

