body {
  background-color: rgb(75, 75, 75);
}

.profilePic {
  width: 35px;
  height: 35px;
}

.logoPic {
  width: 40px;
  height: 40px;
}

.link {
  font-weight: bold;
  color: #ffc107
}

.navbarRight {
  position: absolute;
  right: 40px;
}

